<!DOCTYPE html>
<html lang="pt-br">
<head></head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>

<header>
<%- include('../partials/header') %> 
</header>
      <div class="container my-5">
        <div class="card" style="width: 100%">
            <div class="card-body">
              <h5 class="card-title">Registro</h5>
              <form onsubmit="return false;" id="form">
                <div class="mb-3">
                  <label for="nome" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="nome" name="nome" autocomplete="off" required>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" autocomplete="off" required>
                </div>
                
                <div class="mb-3">
                  <label for="password" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="password" autocomplete="off" required>
                </div>
                <div class="alert alert-danger" role="alert" id="error" style="display: none;"></div>
                <div class="alert alert-success" role="alert" id="success" style="display: none;"></div>
               <!--<div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> 
              -->
                <button type="submit" class="btn btn-primary">Registrar</button>
              </form>
            </div>
          </div>
    </div>
   
    <script src="js/register.js"></script>
</body>
</html>