<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link href="/css/novotreino.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <input type="checkbox" id="nav-toggle">
  <div class="sidebar">
    <div class="sidebar-brand">
      <img class="logo" src="/img/logo_2.png"></h2>
    </div>

    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="/dashboard" class="active"><span class="las la-users"></span>
            <span> Gerenciar Alunos</span></a>
        </li>
        <li>
          <a href="/dashboard/ferramentas" class="order" id="fer"><span class="las la-igloo"></span>
            <span> Ferramentas</span></a>
        </li>
        <li>
          <a href="/" class="order"><span class="las la-igloo"></span>
            <span> Notificações</span></a>
        </li>
        <li>
          <a href="/logoutadm" class="order" style="color: red; opacity: 100%"><span
              class="las la-arrow-alt-circle-left"></span>
            <span> Sair</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content">
    <header>
      <h2>
        <label for="nav-toggle">
          <span class="las la-bars"></span>
        </label>
        Dashboard
      </h2>

      <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Procure aqui">
      </div>

      <div class="user-wrapper">
        <img src="/img/user.png" width="30px" height="30px" alt="">
        <div>
          <h4>Dani<br>Teixeira</h4>
          <small>Dona</small>
        </div>
      </div>
    </header>

    <main>
      <div class="options">
        <div class="back"><a href="/dashboard/ferramentas"><span class="las la-arrow-left"></span></a>
          Enviar novo treino</div>

        <div class="buttons">
          <button class="cancelar">Cancelar</button>
        </div>

      </div>

      <div class="principal-aluno">

        <div class="card-principal">

          <form class="enviartreino" id="form">

            <div class="titulo-dados">
              <h3>Novo Treino</h3>
            </div>



            <div class="form-item" style="display: none;">
              <input type="text" id="id_treino" value="<%= treino.id_treino%>">
            </div>
            <div class="group_1" style="display: flex; flex-direction:row;">
              <div class="form-item" style="width: 30%;">
                <label for="tipo_treino">Tipo de treino:</label>
                <select id="tipo_treino">
                  <option selected value="" disabled>Selecione...</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>

              <div class="form-item" style="width: 30%;">
                <label for="nivel_treino">Nível do treino:</label>
                <input type="text" id="nivel_treino" value="<%= treino.nivel_treino%>">
              </div>

              <!-- <div class="form-item" style="width: 30%;">
              <label for="data_fim_treino">Data de encerramento:</label>
                <input type="date" id="data_fim_treino">
              
            </div> -->



              <div class="form-item" style="width: 30%;">
                <label for="nome_treino">Título/Nome do treino:</label>
                <input type="text" id="nome_treino" placeholder="Coloque um titulo">
              </div>
            </div>

            <div class="group_1" style="display: flex; flex-direction:row;">
              <div class="form-item" style="width: 30%;">
                <label for="descricao_treino">Descrição:</label>
                <textarea id="descricao_treino"></textarea>
              </div>

              <div class="form-item" style="width: 30%;">
                <label for="objetivo_treino">Objetivo:</label>
                <input type="text" id="objetivo_treino" placeholder="Coloque o objetivo do treino">
              </div>

              <div class="form-item" style="width: 30%;">
                <label for="dias_treino">Dias da semana:</label>
                <input type="text" id="dias_treino" placeholder="Coloque os dias">
              </div>



            </div>

            <div class="group_1" style="display: flex; flex-direction:row;">
              <div class="form-item" style="width: 30%;">
                <label for="observacao_treino">Observação:</label>
                <input type="text" id="observacao_treino" placeholder="Adicione uma observação">
              </div>

              <div class="form-item" style="width: 30%;">
                <label for="duracao_treino">Período:</label>
                <input type="text" id="duracao_treino" placeholder="Coloque o período">
              </div>

              <div class="form-item" style="width: 30%;">
                <label for="frequencia_treino">Frequência:</label>
                <input type="text" id="frequencia_treino" placeholder="Frequência em que devem ser realizados">
              </div>

            </div>

  

            <!-- grupo de botoes -->



            <!-- mensagens de status -->

            <div class="mensagem-erro" id="error" style="display: none;"></div>
            <div class="mensagem-sucesso" id="success" style="display: none;"></div>

            <button type="submit" class="enviar">Enviar</button>

          </form>
        </div>
      </div>


    </main>
  </div>

  <script src="/js/editreino.js"></script>

</body>

</html>