<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link href="/css/editaluno.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/img/logo.png">
</head>

<body>

<input type="checkbox" id="nav-toggle">
<div class="sidebar">
  <div class="sidebar-brand">
    <img class="logo" src="/img/logo_2.png"></h2>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="/dashboard" class="active"><span class="las la-users"></span>
        <span> Gerenciar Alunos</span></a>
    </li>
       <li>
        <a href="/dashboard/ferramentas" class="order" id="fer"><span class="las la-tools"></span>
        <span> Ferramentas</span></a>
    </li>
    <li>
        <a href="/" class="order"><span class="las la-bell"></span>
        <span> Notificações</span></a>
    </li>
    <li>
      <a href="/logoutadm" class="order" style="color: red; opacity: 100%"><span class="las la-arrow-alt-circle-left"></span>
      <span> Sair</span></a>
    </li>

    </ul>
  </div>
</div>

  <div class="main-content">
    <header>
     <h2>
        <label for="nav-toggle">
          <span class="las la-bars"></span>
        </label>
        Dashboard
     </h2>

      <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" placeholder="Procure aqui">
      </div>

      <div class="user-wrapper">
        <img src="/img/user.png" width="30px" height="30px" alt="">
        <div>
          <h4>Dani<br>Teixeira</h4>
          <small>Dona</small>
        </div>
      </div>
    </header>

    <main>
      <div class="options">
        <div class="back"><a href="/dashboard/aluno/<%=user.id_aluno%>"><span class="las la-arrow-left"></span></a> Editar aluno</div>

        
        
      </div>



        <% if(anamnese) {%>
        <div class="anamnese">

          <form class="row g-3" onsubmit="return false;" id="anamnese">

            <h5 class="card-title"><strong>Anamnese</strong></h5>
            <p class="card-text">Insira seus dados na anamnese para ser possível estabelecer seus treinos
            </p>
            <input style="display: none;" type="text" name="id_aluno" value="<%=user.id_aluno%>" id="id_aluno" required>

            <div class="group" style="display: flex; margin-bottom: 1rem;">

            <div class="col-md-6" style="display: flex; flex-direction: column">

                <label for="naturalidade" class="control-label">Naturalidade:</label>

                <select class="custom-select" id="naturalidade"
                    style="border: rgb(166, 166, 166) 1px solid; border-radius: 5px;">
                    <option selected disabled value="" style="padding-left: .1rem; color:grey;">Escolha...
                    </option>
                    <option>Brasil</option>
                    <option>Uruguai</option>
                    <option>Nova Zelândia</option>
                    <option>Estados Unidos</option>
                    <option>Outro</option>
                </select>
            </div>

            <div class="col-md-6" style="display: flex; flex-direction: column">
                <label for="profissao" class="control-label">Profissão:</label>
                <input type="text" class="form-control" id="profissao" value="<%= anamnese.profissao%>">
            </div>
            </div>

            <div class="group_min" style="display: flex; margin-bottom: 1rem;">
            <div class="col-md-3" style="display: flex; flex-direction: column">
                <label for="peso" class="control-label">Peso:</label>
                <input type="text" class="form-control-min" id="peso" placeholder="">
            </div>

            <div class="col-md-3" style="display: flex; flex-direction: column">
                <label for="altura" class="control-label">Altura:</label>
                <input type="text" class="form-control-min" id="altura" placeholder="">
            </div>

            <div class="col-md-6" style="display: flex; flex-direction: column">
                <label for="tipo_sanguineo" class="control-label">Tipagem sanguínea:</label>
                <select class="custom-select" id="tipo_sanguineo"
                    style="width: 100%; height: 60%; border: rgb(203, 202, 202) 1px solid; border-radius: 5px;">
                    <option selected disabled value="" style="padding-left: .1rem; color:grey;">Escolha...
                    </option>
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                    <option>O+</option>
                    <option>O-</option>
                </select>
            </div>
            </div>

            <div class="group" style="display: flex; margin-bottom: 1rem;">

            <div class="col-md-6" style="display: flex; flex-direction: column">
                <label for="contato_emergencia" class="control-label">Contato de emergência:</label>
                <input type="number" class="form-control" id="contato_emergencia" placeholder="">
            </div>

            <div class="col-md-6" style="display: flex; flex-direction: column">
                <label for="horas_sono" class="control-label">Horas de sono:</label>
                <input type="text" class="form-control" id="horas_sono" placeholder="">
            </div>

            </div>

            <div class="group" style="display: flex; margin-bottom: 1rem;">
            <div class="col-md-12">
                <label class="control-label" for="atual_exercicio">Você faz algum tipo de exercício?</label>
                <input class="form-check-input" type="radio" id="exercicio-true" name="exercicio" value="Sim">
                <label class="form-check-label" for="flexRadioDisabled">Sim</label>
    
                <input class="form-check-input" type="radio" id="exercicio-false" name="exercicio" value="Não">
                <label class="form-check-label" for="flexRadioDisabled">Não</label>
              </div>

            

            <div class="col-md-12" style="display: flex; flex-direction: column">
                <label for="historico_exercicio_frequencia" class="control-label">Com qual frequência você
                    faz exercícios?</label>
                <textarea type="text" class="form-control" id="historico_exercicio_frequencia"
                    placeholder=""></textarea>
            </div>
</div>

<div class="group" style="display: flex; margin-bottom: 1rem;">
            <div class="col-md-12">
                <label for="historico_exercicio_tempo" class="control-label">Qual a duração dos seus
                    exercícios?</label>
                <textarea type="text" class="form-control" id="historico_exercicio_tempo"
                    placeholder=""></textarea>
            </div>

            <div class="col-md-12">
                <label for="antigo_exercicio" class="control-label">Se não faz, já fez algum tipo de exercício?</label>
                <input class="form-check-input" type="radio" name="antigo_exercicio" id="antigo_exercicio_true" value="Sim">
                <label class="form-check-label" for="flexRadioDisabled">
                  Sim
                </label>
                <input class="form-check-input" type="radio" name="antigo_exercicio" id="antigo_exercicio_false" value="Não">
                <label class="form-check-label" for="flexRadioDisabled">
                  Não
                </label>
            </div>
</div>
           
<!-- anamnese 2 -->


            <div class="col-md-12" style="display: flex; flex-direction: column">
                <label for="patologia" class="control-label">Você tem ou teve alguma(s) das patologias abaixo?</label>
                <br>

                <div id="pat">
                <div class="col-pat">
                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="coracao" value="Problemas do Coração">
                <label class="form-check-label" for="patologia">
                  Problemas do Coração
                </label>
                </div>
                
                <div class="pat-item">
                <input class="form-check-input" type="checkbox" id="pulmonares" name="patologia" value="Problemas pulmonares">
                <label class="form-check-label" for="patologia">
                  Problemas pulmonares
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="tonturas" value="Tonturas">
                <label class="form-check-label" for="patologia">
                  Tonturas
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="hipertensao" value="Hipertensão">
                <label class="form-check-label" for="patologia">
                  Hipertensão
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="bronquite" value="Bronquite">
                <label class="form-check-label" for="patologia">
                  Bronquite
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="asma" value="Asma">
                <label class="form-check-label" for="patologia">
                  Asma
                </label>
                </div>
            </div>

            <div class="col-pat">

                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="colesterol" value="LDL acima de 200mg/dl (colesterol)">
                <label class="form-check-label" for="patologia">
                  LDL acima de 200mg/dl (colesterol)                            
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="diabete" value="Diabetes">
                <label class="form-check-label" for="patologia">
                  Diabetes
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="convulcao" value="Convulções">
                <label class="form-check-label" for="patologia">
                  Convulções
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="fratura" value="Fratura óssea">
                <label class="form-check-label" for="patologia">
                  Fratura óssea
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="dor_costas" value="Dor nas costas com frequência">
                <label class="form-check-label" for="patologia">
                  Dor nas costas com frequência
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="checkbox" name="patologia" id="osteoporose" value="Osteoporose">
                <label class="form-check-label" for="patologia">
                  Osteoporose
                </label>
                </div>
            </div>
        </div>
    </div>
    


            <div class="col-md-12">

                <label for="comorbidade_familiar" class="control-label">Alguém da sua família (pai, mãe, irmãos ou filhos) possue algum problema de saúde como:</label>

                <div class="cf-item">
                <input class="form-check-input" type="checkbox" name="comorbidade_familiar" id="coracao" value="Problemas do Coração">
                <label class="form-check-label" for="comorbidade_familiar">
                  Problemas do Coração
                </label>
                </div>

                <div class="cf-item">
                <input class="form-check-input" type="checkbox" name="comorbidade_familiar" id="metabologicas" value="Doenças Metabológicas">
                <label class="form-check-label" for="comorbidade_familiar">
                  Doenças Metabológicas
                </label>
                </div>

                <div class="cf-item">
                <input class="form-check-input" type="checkbox" name="comorbidade_familiar" id="convulcoes" value="Convulções">
                <label class="form-check-label" for="comorbidade_familiar">
                  Convulções
                </label>
                </div>

                <div class="cf-item">
                <input class="form-check-input" type="checkbox" name="comorbidade_familiar" id="cancer_geral" value="Câncer em geral">
                <label class="form-check-label" for="comorbidade_familiar">
                  Câncer em geral
                </label>
                </div>

            </div>

           
            <div class="col-md-12" style="display: flex; flex-direction: column; gap: 0.5rem; margin-top: 1rem; margin-bottom: 1rem;">
                <label for="uso_medicacao" class="control-label">Você toma algum(uns) tipo(s) de medicamento(s)? Se sim, qual(is) e para qual(is) problema(s)?</label>
                <textarea type="text" class="form-control" id="uso_medicacao" placeholder=""></textarea>
            </div>
           

            <div class="col-md-12" style="display: flex; flex-direction: column">
                <label for="frequencia_cardiaca_repouso" class="control-label">Qual sua frequência cardíaca em repouso?</label>
                <textarea type="text" class="form-control" id="frequencia_cardiaca_repouso"
                    placeholder=""></textarea>
            </div>

            <div class="col-md-12" style="display: flex; flex-direction: column; gap: 0.5rem; margin-top: 1rem; margin-bottom: 1rem;">
                <label for="uso_suplemento_alimentar" class="control-label">Você usa algum suplemento
                    alimentar? Se sim, qual(is)?</label>
                <textarea type="text" class="form-control" id="uso_suplemento_alimentar"
                    placeholder=""></textarea>
            </div>

            <div class="col-md-12">
                <label for="refeicoes" class="control-label">Faz quantas refeições por dia?</label>
                <input class="form-check-input" type="radio" name="refeicoes" id="1" value="1">
                <label class="form-check-label" for="refeicoes">
                  1
                </label>
                <input class="form-check-input" type="radio" name="refeicoes" id="2" value="2">
                <label class="form-check-label" for="refeicoes">
                  2
                </label>
                <input class="form-check-input" type="radio" name="refeicoes" id="3" value="3">
                <label class="form-check-label" for="refeicoes">
                  3
                </label>
                <input class="form-check-input" type="radio" name="refeicoes" id="4" value="4">
                <label class="form-check-label" for="refeicoes">
                  4
                </label>
                <input class="form-check-input" type="radio" name="refeicoes" id="5" value="5">
                <label class="form-check-label" for="refeicoes">
                  5
                </label>
                <input class="form-check-input" type="radio" name="refeicoes" id="maisde5" value="Mais de 5">
                <label class="form-check-label" for="refeicoes">
                  Mais de 5
                </label>
            </div>


            <div class="col-md-12" style="display: flex; flex-direction: column; gap: 0.5rem; margin-top: 1rem; margin-bottom: 1rem;">
                <label for="periodo_menstruacao" class="control-label">Qual seu período menstrual? *se for
                    mulher</label>
                <textarea type="text" class="form-control" id="periodo_menstruacao"
                    placeholder=""></textarea>
            </div>

            
            <div class="col-md-12">
                <label for="objetivo" class="control-label">Qual seu objetivo ao realizar o treinamento?</label>
                <div id="pat">
                <div class="col-pat">
                <div class="pat-item">
                <input class="form-check-input" type="radio" id="hipertrofia" name="objetivo"  value="Hipertrofia">
                <label class="form-check-label" for="objetivo">
                  Hipertrofia (Aumento de massa muscular)
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="radio" id="reducao_gordura" name="objetivo" value="Redução do % da gordura">
                <label class="form-check-label" for="objetivo">
                  Redução do % da gordura
                </label>
            </div>


                <div class="pat-item">
                <input class="form-check-input" type="radio" id="autoestima" name="objetivo" value="Autoestima">
                <label class="form-check-label" for="objetivo">
                  Autoestima
                </label>
                </div>
                
                <div class="col-pat">
                <div class="pat-item">
                <input class="form-check-input" type="radio" id="aumento_aerobica" name="objetivo" value="Aumento da capacidade aeróbica">
                <label class="form-check-label" for="objetivo">
                  Aumento da capacidade aeróbica
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="radio" id="aumento_flexibilidade" name="objetivo" value="Aumento de força para flexibilidade">
                <label class="form-check-label" for="objetivo">
                  Aumento de força para flexibilidade
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="radio" id="aumento_forca_saude" name="objetivo" value="Aumento de força para benefícios a saúde em geral">
                <label class="form-check-label" for="objetivo">
                  Aumento de força para benefícios a saúde em geral
                </label>
                </div>

                <div class="pat-item">
                <input class="form-check-input" type="radio" id="outro" name="objetivo" value="Outro">
                <label class="form-check-label" for="objetivo">
                  Outro
                </label>
                </div>
                </div>
                </div>

            </div>
       

            <div class="mensagem-erro" id="error" style="display: none;"></div>
            <div class="mensagem-sucesso" id="success" style="display: none;"></div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" id="b"
                    style="--bs-btn-border-radius: .6rem;">Enviar</button>
            </div>




        </form>
    

       </div>
<% } else {%>
 
  <div class="anamnese">
    <h3 class="titulo-dados-anamese">Anamnese:</h3>


  <div class="colunas-anamnese">
   <div class="subcolunas-anamnese">

     <div class="coluna-um">
      <p>Aluno ainda não possui anamnese</p>
      </div>

      <div class="coluna-dois">
        <button class="btn-aviso">Enviar aviso</button>
      </div>
      </div>
      </div>
      </div>
      <% } %> 
    </main>
  </div>
  <script src="/js/editanamnesealuno.js"></script>
  
</body>

</html>
